$primary-color: #a02638;

.left-profile {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.right-profile {
    width: 70%;
    background-color: white;
    justify-content: space-evenly;

    h1 {
        color: $primary-color;
        font-size: 50px;
        padding: 10dvh 0 2dvh 20px;
        font-weight: 800;
    }

    form {
        display: flex;
        width: 80%;
        margin: auto;
        height: 60dvh;

        .column-profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            width: 50%;
        }
    }

    h2 {
        height: 20%;
        width: 100%;
        text-align: center;
        color: $primary-color;
    }

    p {
        text-align: center;
        color: black;
        font-size: 18px;
        padding: 10px;
    }
}
.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;

    .profile-picture {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
    }

    h1 {
        font-size: 36px;
        margin: 0;
    }
    p {
        font-size: 18px;
    }
}
