.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #d9d9d9;
    border-radius: 30px;
}

.inputs {
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-weight: 400;
    text-align: center;
}

p {
    font-weight: 400;
    text-align: center;
}

span {
    text-decoration: none;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
