$primary-color: #a02638;

.label {
    display: block;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #333;
    font-size: 1.5rem;
}

.light {
    color: white;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: white;
}

.input:focus {
    border-color: #a02638;
    outline: none;
    box-shadow: 0 0 5px rgba(160, 38, 56, 0.5);
}

.input-checkbox {
    display: flex;
    justify-content: end;

    label {
        margin-right: auto;
        padding-left: 30px;
    }

    input {
        height: 25px;
        width: 25px;
    }
}
select {
    padding: 8px 12px;
    height: 36px;
    border: 2px solid #a0263865;
    border-radius: 8px;
    background-color: white;
    color: #111;
    cursor: pointer;

    &:hover {
        border-color: #a0263890;
    }

    &:focus {
        outline: none;
        border-color: $primary-color;
    }
}
