$primary-color: #a02638;

.leaderboard-settings {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    p {
        color: black;
        margin: 0;
        padding-right: 10px;
    }

    select {
        padding: 8px 12px;
        height: 36px;
        border: 2px solid #a0263865;
        border-radius: 8px;
        background: #fff;
        color: #111;
        cursor: pointer;

        &:hover {
            border-color: #a0263890;
        }

        &:focus {
            outline: none;
            border-color: $primary-color;
        }
    }
}

.leaderboard-pagination {
    display: flex;
    width: 50%;
    justify-content: space-around;

    p {
        color: black;
        margin: 0;
        font-size: 20px;
        text-align: center;
    }
}

.leaderboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
}

.leaderboard-listings {
    width: 100%;
    overflow-x: hidden;
}
.leaderboard-listing {
    width: 100%;
    margin: 10px 0;
}
