.left {
    display: flex;
    width: 60%;
    height: 100%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

#background {
    background-image: url("/home.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.column {
    background-color: #330109e3;
    width: 8%;
}

h1 {
    color: white;
    font-size: 4vw;
    margin-bottom: 0;
}

p {
    color: white;
    font-size: 1.5vw;
    font-weight: 600;
    margin-top: 0;
}
