$primary-color: #a02638;
$primary-dark: #8f1f2f;

.modal-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
}

.modal {
    z-index: 1001;
    width: 40dvw;
    min-height: 70dvh;
    position: fixed;
    overflow: hidden;
    top: 15dvh;
    left: 35dvw;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .modal-lap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    .modal-exit {
        width: 100%;
        display: flex;
        justify-content: end;

        p {
            box-sizing: border-box;
            text-align: end;
            font-size: 2.5rem;
            padding: 10px 30px 10px 30px;
            margin: 0;
            cursor: pointer;
        }
    }

    h1 {
        color: white !important;
        font-size: 2rem;
        text-align: center;
        margin: 0;
        padding: 0 !important;
    }

    img {
        width: 40%;
        padding: 10px;
    }

    .modal-space {
        height: 10dvh;
    }

    .modal-lap-time {
        display: flex;
        justify-content: space-evenly;
        align-items: end;
        width: 80%;

        p {
            font-size: large;
            cursor: auto;
            padding-bottom: 10px;
        }
    }

    .driver-add-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: start;
        height: 250px;
        overflow-y: auto;
        padding: 10px 0;

        .modal-driver {
            cursor: pointer;
            background-color: $primary-dark;
            color: white;
            padding: 0.5rem;
            border-radius: 8px;
        }
        .modal-driver-selected {
            cursor: pointer;
            background-color: white;
            color: $primary-color;
            padding: 0.5rem;
            border-radius: 8px;
        }
    }
}

.modal-grid-3 {
    width: 80%;
    display: grid;
    padding: 10px 0 5px 0;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;

    * {
        margin: 0 auto;
    }
}

.modal-grid-2 {
    width: 80%;
    display: grid;
    padding: 5px 0 10px 0;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    align-content: center;

    * {
        margin: 0 auto;
    }
}
