header {
    display: flex;
    width: 100%;
    height: 8dvh;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.main {
    display: flex;
    align-items: center;
    width: 30%;
    margin-right: 40%;
    justify-content: space-around;
}

.side {
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 80%;
}
