$primary-color: #a02638;

.car-detail {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h1 {
        color: $primary-color;
        height: 15dvh;
        width: 100%;
    }

    .car-info {
        min-height: 85dvh;
        width: 80%;
        overflow-y: scroll;
        .car-stats {
            display: flex;

            img {
                min-height: 50dvh;
                min-width: 50%;
                background-color: lightgray;
            }

            .car-card-details {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 50%;

                div {
                    display: flex;
                    width: 100%;

                    h2 {
                        margin: 0;
                        padding-left: 50px;
                        width: 50%;
                        font-size: 2.5rem;
                    }

                    p {
                        margin: auto 0;
                        text-align: center;
                        color: black;
                    }
                }
            }
        }
        .car-leaderboard {
            display: flex;
            flex-direction: column;
        }
    }
}
