@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

#root {
    width: 100%;
    height: 100dvh;
}

* {
    font-family: "Roboto", sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.half {
    width: 50%;
    height: 100vh;
}

.full-screen {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #a02638;
    object-fit: cover;
    user-select: none;
}
