header {
    display: flex;
    width: 100%;
    height: 8dvh;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
}

.main {
    display: flex;
    align-items: center;
    width: 50%;
    margin-right: 20%;
    justify-content: space-around;
}

.side {
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: center;
}

.logoHeader {
    display: flex;
    height: 85%;
    align-items: center;
    justify-content: center;
}
