.track-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 90%;
    min-height: 400px;
    background-color: #a02638;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: white;
    box-sizing: border-box;

    img {
        width: 100%;
        height: 60%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        object-fit: cover;
    }

    .track-info {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        align-items: start;
        height: 40%;
        width: 100%;
        justify-content: space-around;
        padding: 10px;

        .track-stats {
            display: flex;
            width: 100%;

            h3 {
                color: white;
                width: 45%;
                margin: 0;
            }
            p {
                text-align: start;
                width: 55%;
                padding: 5px;
                margin: 0;
                font-size: 18px;
                color: white;
                font-weight: 400;
            }
        }
    }
}

.card-league {
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .track-stats {
        display: flex;
        width: 80%;

        h3 {
            color: white;
            width: 45%;
            margin: 0;
        }
        p {
            text-align: start;
            width: 55%;
            padding: 5px;
            margin: 0;
            font-size: 18px;
            color: white;
            font-weight: 400;
        }
    }
}
