@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

#root {
    width: 100%;
    height: 100dvh;
}

* {
    font-family: "Roboto", sans-serif;
}
