$primary-color: #a02638;

.leaderboard-filters {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 25%;

    h2 {
        color: white;
        text-align: center;
        font-size: 2rem;
    }

    .leaderboard-data-filters {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        h2 {
            margin: 0;
            font-size: 1.5rem;
        }
    }

    .leaderboard-temps {
        display: flex;
        width: 80%;

        * {
            width: 50%;
        }
    }
}
.leaderboard-data {
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 75%;

    h1 {
        width: 100%;
        color: $primary-color;
        padding: 10rem 0 0 40px;
        box-sizing: border-box;
        margin: 0;
    }
}

.leaderboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 70%;
}

.leaderboard-entries {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 90%;
    overflow-y: auto;
    gap: 20px;
}
