.notfound {
    color: white;
    text-align: center;
}

.error-code {
    font-size: 8rem;
    font-weight: 900;
    margin: auto;
}

.error-message {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.back-home {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 8px;
    background-color: white;
    color: #a02638;
    font-weight: 600;
    text-decoration: none;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.back-home:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}
